name: release-please

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Set up Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      # 3️⃣ Run Release Please
      - name: Release Please
        uses: google-github-actions/release-please-action@v4
        with:
          config-file: .github/configs/release-please-config.json
          token: ${{ secrets.GITHUB_TOKEN }}
